/* User agent css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting max width of page content */
section .main{
    max-width: 1200px;
    margin: 0 auto;
}

body {
    height: 100%;
    /* background: rgb(57, 6, 6); */
}

/* NAVBAR */

header {
    background-color: rgba(22, 22, 25, 0.9);
    padding: 1rem 0.6rem;
}

.header-container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-variant:small-caps;
    color:whitesmoke;
}

.media-links {
    padding: 0.5rem 0 0 0;
}

.media-links a {
    font-size: 24px;
    max-width: 48px;
    max-height: 48px;
    margin: 0 0.4rem 0 0;
    color: whitesmoke;
    text-decoration: none;
}

.media-links a:hover {
    color: #217ECF;
}

/* OVERLAY */
.overlay {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.overlay-content {
    display: none;
    width: 90%;
    max-width: 360px;
    max-height: 500px;
    margin: 15% auto; /* 20% from the top and centered */
    padding: 20px 0;
    background: whitesmoke;
    border: 1px solid #888;
    border-radius: 7px;
}

/* FOOTER */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 1rem 0.6rem;
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-variant: small-caps;
    font-size: 1.2rem;
    background-color: rgba(22, 22, 25, 0.9);
    color:whitesmoke;
}

footer i {
    padding: 0 0.5rem;
}

footer p:hover {
    color: #E5A536;
}

/* Getting bigger than iPhone 6+ */
@media screen and (min-width: 420px) {
    .media-links a {
        font-size: 36px;
        margin: 0 0.5rem;
    }
    .media-links {
        padding: 0;
    }
}